* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(11, 28, 107);
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px 40px;
  color: white;
}
.header > h1 {
  margin: 0;
  color: white;
}
.header > h6 {
  margin-top: 10px;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
  justify-content: center; /* Centers vertically (if needed) */
  gap: 10px;
}
.alphapet-contanier {
  display: flex;
  display: grid;
  grid-template-columns: repeat(6, 40px);
  gap: 10px;
}
.alphapet-contanier > button {
  max-width: 20px;
  max-height: 30px;
  background-color: rgb(194, 184, 45);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  gap: 20px;
  text-align: center;
}
section.game-status {
  background-color: #10a95b;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f4da;
  border-radius: 4px;
  margin-block: 30px;
}

section.game-status > p {
  margin: 5px;
}

section.game-status > h2 {
  font-size: 1.25rem;
  margin: 5px;
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
  margin-bottom: 36px;
}

span.chip {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}
span.chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

section.word {
  display: flex;
  justify-content: center;
}
section.word > span {
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-bottom: 1px solid #f9f4da;
}
.button-container {
  margin-top: 100px solid #f9f4da;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newgame-button {
  width: 100px;
  height: 50px;
  background-color: rgb(150, 157, 224);
}
.alphapet-contanier > button.correct {
  background-color: #10a95b;
}
.alphapet-contanier > button.wrong {
  background-color: #ec5d49;
}
.game-status.won{
  background-color: #10a95b;
}
.game-status.lost{
  background-color: #BA2A2A;
}